.productCard {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--off-white);
    border-radius: 0.5rem;
    box-shadow: 2px 3px var(--off-white);
}

.productImg {
    display: block;
    max-width: 100%;
    max-height: 10rem;
    margin: auto;
}

.productName {
    font-size: 100;
    font-weight: 600;
}

.productPrice {
    font-weight: 600;
    margin: -0.5rem 0;
}

.cardBtnContainer {
    display: flex;
    justify-content: space-between;
}

.addToCartBtn {
    font-family: 'Poppins' sans-serif;
    cursor: pointer;
    width: 80%;
    padding: 0.5rem 0;
    color: var(--white);
    border: none;
    background-color: var(--primary-color);
}

.addToCartBtn:disabled {
    cursor: not-allowed;
    color: var(--off-grey);
    background-color: var(--dark-grey);
}

.addToWishlistBtn {
    font-family: 'Poppins' sans-serif;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    background-color: var(--white);
}

@media only screen and (max-width: 480px) {
    .productCard {
        width: 8rem;
    }

    .productImg {
        max-height: 7rem;
    }

    .productName {
        font-size: 75;
    }
}