.cardHorizotalContainer{
    width: 25rem;
    border-bottom: 2px solid #000000;
    margin: 0.5rem;
}

.cardHorizontal {
    display: flex;
    justify-content: space-between;
}

/* Card */
.cardImgContainer {
    width: 10rem;
}

.textLeft {
    text-align: left;
}
.cardImgCart {
    max-width: 90%;
    height: auto;
}
.cardDetails {
    text-align: left;
    width: 90%;
}
.cardName {
    font-weight: bold;
    font-size: 1.3rem;
}
.cardSectionName {
    color: var(--primaryGrey);
}
.cardPrice {
    font-weight: bold;
    font-size: 24px;
}
.increaseQuantity {
    text-align: left;
}
.cardQuantity {
    padding: 0rem 0.5rem;
}
.cartOrWishlist {
    margin-bottom: 1rem;
}
.cardHorizontalBtnContainer {
    display: flex;
    justify-content: space-around;
    border: 0.1rem solid var(--primaryDark);
    padding: 0.5rem 0rem;
}

/* Dismiss */

.dismiss {
    cursor: pointer;
    color: var(--white);
    background-color: var(--primaryColor);
    padding: 5px 7px;
    border-radius: 100%;
}

.dismissCard {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.cardWithBadge {
    position: relative;
}


@media only screen and (max-width: 600px) {
    .cardHorizotalContainer{
        width: 20rem;
    }
  }