@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --primary-color: #3F37C9;
  --primary-dark: #0D1117;
  --dark-grey: #374151;
  --off-grey: #B7B7A4;
  --off-white: #F3F4F6;
  --white: #FFFFFF;
}

.App {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.logoContainer {
  margin: 0 0 0 1rem;
}

.logoImg {
  width: 3rem;
}

.navbar {
  width: 100%;
  margin: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.navBullets {
  margin: 0 1rem;
}

.navBullet {
  color: var(--off-white);
  display: inline-block;
  font-weight: 900;
  padding: 1rem;
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.navBtn {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: inherit;
  font-weight: 500;
  font-size: medium;
}

.userOptionsHidden {
  display: none;
}

.navIconBadge {
  background-color: var(--primary-dark);
  border: 3px solid var(--primary-dark);
  border-radius: 50%;
}

.userOptionsContainer {
  width: 10rem;
  margin: auto;
  background-color: var(--white);
  box-shadow: 5px 3px 2px var(--off-white);
  position: absolute;
  right: 3rem;
}

.userOption {
  list-style-type: none;
  color: var(--primary-color);
  font-weight: bolder;
  padding: 1rem;
}