/* Import */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Root */
:root {
    --primary-color: #ff6000;
    --primary-dark: #282b2d;
    --primary-grey: #93979c;
    --light-grey: #c9d6df;
    --white: #ffffff;
    --red: #ff005c;
    --green: #2eb872;
    --yellow: #ffc300;
    --blue: #0074e4;
}

/* Body */
body {
    font-family: Inter, sans-serif;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 3px solid var(--primary-color);
    cursor: pointer;
    margin: 0.5rem 0;
}
.btn:focus{
    outline: none;
}
.btnPrimary {
    color: var(--white);
    background-color: var(--primary-color);
}
.btnSecondary {
    color: var(--primary-color);
    background-color: var(--white);
}
.link {
    text-decoration: none;
    color: var(--primary-color);
}
.btnIcon {
    text-decoration: none;
    color: var(--primary-color);
}
.btnFloating {
    position: fixed;
    right: 1rem;
}

